.mainFont{
    font-family: Roboto, arial;
    font-weight: 500;
    font-size: 13px;
    color: #fff;
}
.titleFont{
    font-family: Roboto, arial;
    font-weight: 700;
    font-size: 26px;
    color: #fff;
}
.titleFontValue{
    font-family: Roboto, arial;
    font-weight: 700;
    font-size: 26px;
    color: #02a9fb;
}