*{
   border: 0;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
   background-color: #323233;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 526px;
    height: 573px;
    background-color: #121617;
    border-radius: 30px;
    flex-wrap: wrap;
}
.navegation{
    display: flex;
    flex-direction: column;
    background-color: #131f2b;
    border-radius: 30px 30px 0 0;
    height: 89px;
    padding: 18px 22px;
    gap: 6px;
}
.defaultText{
    display: flex;
    justify-content: space-between;
}
.container {
    max-width: 482px;
    height: 380px;
    background-color: #131f2b;
    margin: 22px;
    padding: 14px;
    border-radius: 30px;
}
.contentInput{
    display: flex;
    align-items: center;
    gap: 18px;
}
.titleTransacoes{
    display: flex;
    padding: 16px 0;
    justify-content: center;
}
.transacoesAdicionadas{
    display: flex;
    flex-direction: column;
    height: 270px;
    overflow-y: auto;
    gap: 5px;
}
.transacoesAdicionadas::-webkit-scrollbar {
    width: 10px;
    background-color: #131f2b;
  }
  
.transacoesAdicionadas::-webkit-scrollbar-thumb {
    background-color: #02a9fb;
    border-radius: 10px;
  }
.card{
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 16px;
    background-color: #121617;
    height: 36px;
    border-radius: 5px;
    align-items: center;
}
.priceAndTrash{
    display: flex;
    gap: 11px;
}
#nameInput{
    width: 140px;
    height: 27px;
    background-color: #131f2b;
    border: solid 2px #02a9fb;
    border-radius: 100px;
    padding-left: 14px;
    color: #ffff;
}
#numberInput{
    width: 114px;
    height: 27px;
    background-color: #131f2b;
    border: solid 2px #02a9fb;
    border-radius: 100px;
    padding-left: 14px;
    color: #ffff;
}
#addButton{
    all: unset;
    cursor: pointer;
}
#addButton:hover{
    transform: scale(1.1);
    transition: all, 0.2s;
}
#darkModeButton{
    all: unset;
    cursor: pointer;
}
#darkModeButton:hover{
    transform: scale(1.1);
    transition: all, 0.2s;
}
#deleteButton{
    all: unset;
    cursor: pointer;
}
footer{
    display: flex;
    align-items: center;
    max-width: 526px;
    height: 60px;
    gap: 57px;
    background-color: #131f2b;
    border-radius: 0 0 30px 30px;
    padding: 8px 58px;
    justify-content: space-between;
}
.receitas{
    display: flex;
    gap: 6px;
}
.despesas{
    display: flex;
    gap: 6px;
}